.modal {
  position: relative;
  background: #fff;
  width: 500px;
  height: 600px;
  padding: 20px;
  z-index: 1000;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.body {
  padding-top: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  background-color: rgba(0, 0, 0, 0.7);
}
